<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>name</key>
  <string>Zeta Language (ζ)</string>
  <key>uuid</key>
  <string>A3F8B2C1-4D5E-6F70-8192-A3B4C5D6E7F8</string>
</dict>
</plist>
